body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="submit"]{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(45deg,blue, aqua);
}